<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#42aaf4">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}      
    </section>

    <section class="main-content">

      {{ content }}
      
    <footer class="site-footer">
      <span class="site-footer-hitcounter"><a href="https://hitcounter.pythonanywhere.com/count/tag.svg?url=https%3A%2F%2Fwww.astrobiology.asia%2F"></a></span>
      
      <span class="site-footer-contact">Contact us by email at <a href="mailto:astrobiology.asia@gmail.com"></a>.</span>
        
      <span class="site-footer-GoogleGroup">Join ASAP Google Group at <a href="https://groups.google.com/forum/#!forum/astrobiologyasia" target="_blank">https://groups.google.com/forum/#!forum/astrobiologyasia</a>.</span>
    </footer>
  
    </section>

<!--
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
 -->
     
  </body>
</html>
